# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Django
*.log
*.pot
*.pyc
# *.sqlite3
# db.sqlite3
media/
staticfiles/
.env

# VSCode
.vscode/

# macOS & Windows
.DS_Store
Thumbs.db
