{% extends 'payroll/base.html' %} {% load humanize %}


{% block title %}Leave Summary{% endblock %}

{% block content %}
<h2 class="mb-4">Leave balances as at {{ payroll_run.period_end|date:"F Y" }}</h2>

<form method="get" class="d-flex align-items-center gap-2 mb-3" >
    <div style="margin: auto; width: 500px; display: flex;">
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Search name or ID number">
        &nbsp;
        <select name="status" class="form-select">
            <option value="">All Leave</option>
            <option value="annual_leave" {% if request.GET.status == "annual_leave" %}selected{% endif %}>Annual Leave</option>
            <option value="sick_leave" {% if request.GET.status == "sick_leave" %}selected{% endif %}>Sick Leave</option>
            <option value="family_leave" {% if request.GET.status == "family_leave" %}selected{% endif %}>Family Leave</option>
            <option value="maternity_leave" {% if request.GET.status == "maternity_leave" %}selected{% endif %}>Maternity Leave</option>
            <option value="parental_leave" {% if request.GET.status == "parental_leave" %}selected{% endif %}>Parental Leave</option>
            <option value="study_leave" {% if request.GET.status == "study_leave" %}selected{% endif %}>Study Leave</option>
          </select>
        </select>
        &nbsp;
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Annual Leave</th>
            <th>Sick Leave</th>
            <th>Family Leave</th>
            <th>Maternity Leave</th>
            <th>Parental Leave</th>
            <th>Study Leave</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.leave_balances.Annual|default:"0"|floatformat:2 }}</td>
            <td>{{ employee.leave_balances.Sick|default:"0"|floatformat:0 }}</td>
            <td>{{ employee.leave_balances.Family|default:"0"|floatformat:0 }}</td>
            <td>{{ employee.leave_balances.Maternity|default:"0"|floatformat:0 }}</td>
            <td>{{ employee.leave_balances.Parental|default:"0"|floatformat:0 }}</td>
            <td>{{ employee.leave_balances.Study|default:"0"|floatformat:0 }}</td>
            <td>
                <!-- Trigger the modal -->
                <button class="btn btn-sm btn-outline-info edit-leave-btn" 
                    data-bs-toggle="modal" 
                    data-bs-target="#editLeaveBalanceModal" 
                    data-employee-id="{{ employee.id }}"
                    data-employee-name="{{ employee.first_name }} {{ employee.last_name }}">View</button>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="table-light fw-bold">
        <tr>
            <td>Total</td>
            <td>{{ totals.basic_salary_total|floatformat:2|intcomma }}</td>
            <td>{{ totals.normal_hours_total|floatformat:2|intcomma }}</td>
            <td>{{ totals.overtime_hours_total|floatformat:2|intcomma }}</td>
            <td>{{ totals.saturday_hours_total|floatformat:2|intcomma }}</td>
            <td>{{ totals.deductions_total|floatformat:2|intcomma }}</td>
            <td>{{ totals.net_pay|floatformat:2|intcomma }}</td>
            <td></td>
        </tr>
    </tfoot>
</table>

<!-- Pagination Controls -->
<nav>
    <ul class="pagination justify-content-center">
        {% if employees.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ employees.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">Page {{ employees.number }} of {{employees.paginator.num_pages}}</span>
        </li>

        {% if employees.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ employees.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ employees.paginator.num_pages }}">Last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>

<!-- Include Modal -->
<div class="modal fade" id="editLeaveBalanceModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="post" id="leaveBalanceForm" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="modalEmployeeName">Edit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Form fields -->
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save Changes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
  const modal = document.getElementById('editLeaveBalanceModal');
  modal.addEventListener('show.bs.modal', function(event) {
    const button = event.relatedTarget;
    const employeeId = button.getAttribute('data-employee-id');
    const employeeName = button.getAttribute('data-employee-name');
    
    // Update the form action URL
    const form = document.getElementById('leaveBalanceForm');
    form.action = `/leave/edit_leave_balances/${employeeId}/`;

    // Update the modal title
    document.getElementById('modalEmployeeName').textContent = `Edit ${employeeName}`;

    // Get the row data to pre-fill the form
    const row = button.closest('tr');
    console.log("Row cells:", row.cells); // Log the row cells

    // Check if form fields exist before setting values
    const annualLeaveField = document.getElementById('annual_leave');
    const sickLeaveField = document.getElementById('sick_leave');
    const familyLeaveField = document.getElementById('family_leave');
    const maternityLeaveField = document.getElementById('maternity_leave');
    const parentalLeaveField = document.getElementById('parental_leave');
    const studyLeaveField = document.getElementById('study_leave');
    
    console.log("Annual Leave Field:", annualLeaveField); // Log the annual leave field

    if (annualLeaveField && sickLeaveField && familyLeaveField && maternityLeaveField && parentalLeaveField && studyLeaveField) {
      annualLeaveField.value = row.cells[1].textContent.trim();
      sickLeaveField.value = row.cells[2].textContent.trim();
      familyLeaveField.value = row.cells[3].textContent.trim();
      maternityLeaveField.value = row.cells[4].textContent.trim();
      parentalLeaveField.value = row.cells[5].textContent.trim();
      studyLeaveField.value = row.cells[6].textContent.trim();
    } else {
      console.error("Form fields are missing or null");
    }
  });
});

</script>


{% endblock %}